<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<title>Une page</title>
</head>

<body>
	<h1>Add new StudentDto</h1>

	<form th:action="@{save}" method="post">
		<table>
			<tr>
				<td>id</td>
				<td><input type="number" name="id" /></td>
			</tr>
			<tr>
				<td>name</td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="save" class="btn btn-success"></td>
				<td></td>
			</tr>
		</table>

	</form>
	<hr />
	<h1>List of Students</h1>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
		<tr th:each="student: ${students}">
			<td th:text="${student.id}" />
			<td th:text="${student.name}" />
			<td> <a th:href="'/students/delete/'+${student.id}">Delete</a> </td>
			<td>
				<form th:action="@{edit}" method="post">
					<input type="hidden" name="id" th:value="${student.id}"/>
					<input type="submit" value="edit" class="btn btn-primary">
					</form>
			</td>
		</tr>
	</table>

	<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>